@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .ads__content {
        padding: 16px 104px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .ads__content {
        padding: 14px 94px;
    }
}