@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.express{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
  background: #EBEBEB;
}
.express__card{
  background: #fff;
  max-width: 330px;
  width: 100%;
  border: 1px solid transparent;
}
.express__card:hover{
  border: 1px solid #A0A0A0;
} 
.express__card_img{
  max-width: 328px;
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.express__content{
  padding: 15px;
  
}
.express__title{
  font-size: 22px;
  margin-bottom: 10px;
}
.express__decs{
  color: #6A6A6A;
  margin-bottom: 10px;
}
.express__link{
  display: inline-block;
  padding: 11px 90px;
  background: #DFC900;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 700;
}
.express__price{
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 400;

}
.express__wrapper{
  display: flex;
  justify-content: space-between;
}
