@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  background: #322E41;
  color: #fff;
  padding: 14px 0;
}
.menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  
  }


.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu__link {
  margin-right: 15px;
  margin-left: 15px;
  transition: 0.5s;
}
.menu__link:hover {
  color: #FFE600;
}

